<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Footer.css">
    <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=Ultra&display=swap"
    rel="stylesheet" />
</head>
<body>
    
</body>
</html>
<footer>
    <div class="Footer">
      <h1>BAKERY</h1>
      <div class="Lista1">

        <a href="http://">Menu</a>
        <a href="http://localhost:4500/">Home</a>
        <a href="http://localhost:4500/Productos">Productos</a>
        <a href="http://localhost:4500/Recetas">Recetas</a>
        <a href="http://">Contacto</a>

      </div>
      <div class="Lista2">
        <a href="http://">Servicio</a>
        <a href="http://">Panaderia</a>
        <a href="http://">Delivery</a>
        <a href="http://">Empaque</a>
        <a href="http://">Catering</a>
        </ul>
      </div>
      <div class="DireccionF">
        <p>DIRECCION</p>
        <h2>Av. Scalabrini Ortiz 194</h2>
        <div class="IconosFooter">
          <a href="https://www.facebook.com/carlosbakery"><img src="/icons/Facebook.png" alt="Logo de Facebook" /></a>
          <a href="https://x.com/CarlosBakery"><img src="/icons/Twitter.png" alt="Logo de Twitter" /></a>
          <a href="https://www.instagram.com/carlosbakery/"><img src="/icons/Instagram.png"
              alt="Logo de Instagram" /></a>
        </div>
      </div>
    </div>
    <hr class="hr" />
    <div class="Final">
      <p>Copyright © 2024 todos los derechos reservados</p>
      <p>Terminos y condiciones</p>
      <p>Politica de privacidad</p>
    </div>

  </footer>