<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Nav.css">
    <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=Ultra&display=swap"
    rel="stylesheet" />
</head>
<body>
    
</body>
</html>
<header class="Header">
    <img class="Logo" src="/icons/Bakery.png" alt="Bakery" />

    <nav class="Nav">
      <a href="http://localhost:4500/">Home</a>
      <a href="http://localhost:4500/Productos">Productos</a>
      <a href="http://localhost:4500/Recetas">Recetas</a>
      <a href="">Blog</a>
    </nav>

    <button class="Contact">CONTACTANOS</button>
  </header>