<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/Home.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=Ultra&display=swap"
    rel="stylesheet" />
  

</head>

<body>
  <header class="Header">
    <img class="Logo" src="/icons/Bakery.png" alt="Bakery" />

    <nav class="Nav">
      <a href="">Home</a>
      <a href="">Productos</a>
      <a href="">Recetas</a>
      <a href="">Blog</a>
    </nav>

    <button class="Contact">CONTACTANOS</button>
  </header>

  <main>
    <div class="Hero">
      <div class="TextHero">
        <p>DESDE 1984</p>
        <h1>Productos</h1>
        <h1>Frescos</h1>
        <h1>Todos los dias</h1>
        <h2>
          Bienvenidos a Bakery! Donde la tradición y la pasion por el pan
        </h2>
        <h2>se unen para ofrecerte lo mejor</h2>

        <button class="BtnHero">COMPRA AHORA</button>
      </div>
      <img src="/img/HeroImagen.png" alt="Panadera con productos en la mano" />
    </div>

    <div class="About">
      <img src="/img/HomeAbout.png" alt="Panadero abrazando panes" />
      <div class="TextAbout">
        <p>SOBRE NOSOTROS</p>
        <h1>Horneando momentos</h1>
        <h1>especiales</h1>
        <h2>Pan fresco,amor y tradición.</h2>
        <h2>Nuestra historia comenzó en 1984 y sigue horneándose cada día</h2>

        <button class="BtnAbout">Sobre nosotros</button>
      </div>
    </div>

    <div class="Feauters">
      <p>NUESTRAS CARACTERISTICAS</p>
      <h1>Horneando Momentos Especiales</h1>

      <div class="Productos">
        <div class="Fresco">
          <img src="/icons/cafe.png" alt="Taza de cafe " />
          <h1>Fresco</h1>
          <h2>Productos frescos todos los dias</h2>
        </div>
        <div class="Natural">
          <img src="/icons/pastel.png" alt="Pastel" />
          <h1>Natural</h1>
          <h2>Ingredientes orgánicos y sostenibles</h2>
        </div>
        <div class="Tasty">
          <img src="/icons/pan.png" alt="Pan" />
          <h1>Delicioso</h1>
          <h2>Una explosión de sabores en cada mordida</h2>
        </div>
      </div>
    </div>

    <div class="Video">
      <p>Nuestro video</p>
      <h1>La historia detras de cada pieza</h1>
      <iframe width="100%" height="500" src="https://www.youtube.com/embed/Aw73bVIv4cs?si=4hJ1FFWyEMzVKskm"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  <!----------------------------------------------------->

    <div class="card text-bg-dark">
      <img class="bd-placeholder-img bd-placeholder-img-lg card-img" width="50%" height="270" role="img"
          aria-label="Marcador de posición: Imagen de tarjeta" focusable="false"
          preserveAspectRatio="xMidYMid slice" xmlns="" src="/img/Tamiz.jpg" >
          <title>Marcador de posición</title>
          <rect width="50%" height="50%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
              dy=".3em">Imagen de tarjeta</text>
    </img>
      <div class="card-img-overlay">
        <p>Panaderia</p>
        <h1 class="card-title">Pan casero</h1>
            <h3>$945</h3>
          <h2 class="card-text">Hecho en casa,con dedicacion y amor</h2>
          
      </div>
  </div>

  <!----------------------------------------------------->
<!--
    <div class="Catalogo">
      <div class="Baked">
        <div class="A">
          <div class="TextBaked">
            <p>NUESTROS PRODUCTOS</p>
            <h1>Horneado con amor,fresco cada dia</h1>
          </div>
          <button class="BtnBaked">EXPLORA MÁS</button>
        </div>
        <div class="card" style="width: 18rem;">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="180" role="img"
              aria-label="Marcador de posición: Cap de imagen" focusable="false" preserveAspectRatio="xMidYMid slice"
              xmlns="/img/Tamiz.jpg">
              <title>Marcador de posición</title>
              <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
                  dy=".3em">Image cap</text>
          </svg>
          <div class="card-body">
            <p>Panaderia</p>
              <h5 class="card-title">Pan casero</h5>
              <h2 class="card-text">Hecho en casa,con dedicacion y amor</h2>
              <h3>$945</h3>
          </div>
      </div>
        <div class="Item1">
          <div class="Item">
            <img src="/img/Tamiz.jpg" alt="Panadero tamizando" />
            <p>Panaderia</p>
            <h1>Pan casero</h1>
            <h2>Hecho en casa,con dedicacion y amor</h2>
            <h3>$945</h3>
          </div>
          <div class="Item">
            <img src="/img/Amasando.png" alt="Panadero amasando" />
            <p>Panaderia</p>
            <h1>Pan</h1>
            <h3>$1000</h3>
          </div>
        </div>

        <div class="Item2">
          <div class="Item">
            <img src="/img/cupcakes.jpg" alt="Cupcakes" />
            <p>Pasteleria</p>
            <h1>Cupcake</h1>
            <h3>$456</h3>
          </div>

          <div class="Item">
            <img src="/img/Biscuits.jpg" alt="Galletas" />
            <p>Pasteleria</p>
            <h1>Galletas</h1>
            <h3>$785</h3>
          </div>

          <div class="Item">
            <img src="/img/Brioche.jpg" alt="Pan brioche" />
            <p>Pasteleria</p>
            <h1>Pan brioche</h1>
            <h3>$354</h3>
          </div>
        </div>
      </div>
    </div>-->>
    <div class="Feauters2">
      <div class="TextF2">
        <p>NUESTRAS CARACTERISTICAS</p>
        <h1>Como Trabajamos</h1>
      </div>
      <div class="Cuadrados">
        <div class="Contacto">
          <p>01</p>
          <h1>Contactarnos</h1>
          <h2>Estamos aqui para ayudarte,contáctanos para cualquier duda</h2>
        </div>

        <div class="Baking">
          <p>02</p>
          <h1>Horneado</h1>
          <h2>Horneado artesanal,con técnicas tradicionales</h2>
        </div>

        <div class="Delivery">
          <p>03</p>
          <h1>Entrega</h1>
          <h2>La calidad a tu alcance,en la comodidad de tu hogar</h2>
        </div>

        <div class="Delicioso">
          <p>04</p>
          <h1>Delicioso</h1>
          <h2>Exquisita armonía de sabores y texturas</h2>
        </div>
      </div>
    </div>

    <div class="Feauters3">
      <p>Nuestras caracteristicas</p>
      <h1>Explora recetas dulces y deliciosas</h1>
      <button>Explora más</button>
      <div class="RecetaPan">
        <img src="/img/Amasando.png" alt="Manos amasando" />
        <p>5 minutos de lectura</p>
        <h3>Panaderia</h3>
        <h1>Delicioso pan</h1>
        <h2>
          Nada como un pedazo de pan fresco para acompañar tus comidas.
          ¡Aprende a hacerlo con esta receta sencilla y disfruta del sabor y
          la textura perfectos!
        </h2>
        <button>Lee más</button>
      </div>
      <div class="Croisant">
        <img src="/img/Croisant.jpg" alt="Croisant" />
        <p>4 minutos de lectura</p>
        <h3>Pasteleria</h3>
        <h1>
          El secreto de la capa perfecta.Descubre como hacer croissants como
          un profesional
        </h1>
        <button>Lee más</button>
      </div>
      <div class="RedVelvet">
        <img src="/img/RedVelvet.jpg" alt="Torta Red Red Velvet" />
        <p>10 minutos de lectura</p>
        <h3>Pateleria</h3>
        <h1>
          Un pedazo de cielo rojo.Aprende a hacer red velvet como un
          profesional
        </h1>
        <button>Lee más</button>
      </div>

      <div class="Brownie">
        <img src="/img/Brownie.jpg" alt="Postre Brownie" />
        <p>9 minutos de lectura</p>
        <h3>Pasteleria</h3>
        <h1>
          Chocolate intenso,textura perfecta.La receta de brownies que te hará
          adicto
        </h1>
        <button>Lee más</button>
      </div>

      <div class="Tiramisu">
        <img src="/img/Tiramisu.jpg" alt="Postre Tiramisu" />
        <p>7 minutos de lectura</p>
        <h3>Pasteleria</h3>
        <h1>
          Un pedazo de cielo en cada cucharada.Tiramisú casero,fácil y
          delicioso
        </h1>
        <button>Lee más</button>
      </div>
    </div>

    <div class="Panaderos">
      <div class="TextPanaderos">
        <p>Nuestros panaderos</p>
        <h1>Conoce A Nuestros</h1>
        <h1>Panaderos Profesionales</h1>
        <h2>
          La pasion y la dedicación de nuestros panaderos es lo que hace que
          cada pan salga del horno con amor.Conoce sus historias y descrube el
          secreto detrás de nuestro pan
        </h2>
        <button class="BtnPanaderos">Conocelos</button>
      </div>
      <div class="Panadero">
        <img src="/img/Betular.png" alt="Panadero Betular" />
      </div>
    </div>

    <div class="Contacto2">
      <img class="Img" src="/img/HomeContacto.jpg" alt="Pasteleria" />
      <div class="TextContacto">
        <p>PONTE EN CONTACTO</p>
        <h1>Contactate</h1>
        <h1>Con Nostros</h1>
        <h2>
          Estamos aqui para ecucharte,queremos ayudarte a encontrar lo que
          necesites.Contáctanos para obtener más información o para hacer una
          pregunta.
        </h2>
        <div class="Icons">
          <img src="/icons/Location.png" alt="Pin de ubicación" />
          <div class="IconsA">
            <p>Dirección</p>
            <h2>Av. Scalabrini Ortiz 194</h2>
          </div>

          <img src="/icons/Telefono.png" alt="Imagen de un telefono" />
          <div class="IconsB">
            <p>Telefono</p>
            <h2>+5411 4711-5820</h2>
          </div>
        </div>
        <button class="ButtonContacto">Contactanos</button>
      </div>
    </div>
  </main>
  <footer>
    <div class="Footer">
      <h1>BAKERY</h1>
      <div class="Lista1">

        <a href="http://">Menu</a>
        <a href="http://">Home</a>
        <a href="http://">Productos</a>
        <a href="http://">Recetas</a>
        <a href="http://">Contacto</a>

      </div>
      <div class="Lista2">
        <a href="http://">Servicio</a>
        <a href="http://">Panaderia</a>
        <a href="http://">Delivery</a>
        <a href="http://">Empaque</a>
        <a href="http://">Catering</a>
        </ul>
      </div>
      <div class="DireccionF">
        <p>DIRECCION</p>
        <h2>Av. Scalabrini Ortiz 194</h2>
        <div class="IconosFooter">
          <a href="https://www.facebook.com/carlosbakery"><img src="/icons/Facebook.png" alt="Logo de Facebook" /></a>
          <a href="https://x.com/CarlosBakery"><img src="/icons/Twitter.png" alt="Logo de Twitter" /></a>
          <a href="https://www.instagram.com/carlosbakery/"><img src="/icons/Instagram.png"
              alt="Logo de Instagram" /></a>
        </div>
      </div>
    </div>
    <hr />
    <div class="Final">
      <p>Copyright © 2024 todos los derechos reservados</p>
      <p>Terminos y condiciones</p>
      <p>Politica de privacidad</p>
    </div>

  </footer>
</body>

</html>
