<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog tendencias</title>
    <link rel="stylesheet" href="/css/BlogIndividual.css">
</head>

<body>
    <%-include('partials/nav')%>
        <main>

            <div class="ContainerT">
                <img src="/img-blog/PanoramicaB.jpg" alt="Postre gastronomico">
                <h1 class="TextT">Las 3 tendencias más relevantes en pastelería para 2024.</h1>
            </div>

            <div class="Img-Text">
                <div class="TextoA">
                    <h2>La previsión de tendencias del sector de la pastelería de Taste Tomorrow se basa en los
                        resultados de una encuesta mundial realizada a 20.000 consumidores de 50 países, junto con los
                        últimos análisis de datos en línea basados en inteligencia artificial.</h2>
                    <h2>Prepárese para innovar en sus creaciones pasteleras y añadir algunas tendencias. Hemos reunido
                        las 3 tendencias de consumo más importantes para 2024 que se desprenden de nuestro último
                        estudio mundial Taste Tomorrow. Manténgase al tanto de las tendencias más candentes en
                        pastelería y repostería dulce y, al mismo tiempo, comprenda qué atrae a los consumidores hacia
                        estas modas.</h2>
                </div>
                <img class="Img" src="/img-blog/BlogI1.jpg" alt="Conversacion de personas en mesa dulce">
            </div>

            <div class="TextoB">
                <h2>Estas son las 3 tendencias más candentes que marcarán el sector de la pastelería en 2024:</h2>
                <ul>
                    <li class="li">Inspiración tecnológica y deleite de experiencias</li>
                    <li class="li">Los clásicos continuan</li>
                    <li class="li">Autenticidad local</li>
                </ul>
                <h2>Estas tendencias se basan firmemente en los resultados de Taste Tomorrow, el programa de
                    investigación del consumidor más completo de la industria de la panadería, la pastelería y el
                    chocolate. Se trata de la iniciativa de este tipo más grande e inclusiva del mundo, que recoge las
                    opiniones de 20.000 consumidores de 50 países. Nuestro enfoque distintivo combina a la perfección
                    encuestas exhaustivas a los consumidores con un avanzado seguimiento en línea permanente mediante
                    las últimas técnicas de IA semántica, lo que revela las necesidades y motivaciones fundamentales de
                    los consumidores que impulsan estas tendencias.</h2>
                <h2>La investigación se basa en 3 pilares:</h2>
                <ol>
                    <li class="li">IA y ciencia de datos - análisis permanente de las conversaciones, búsquedas y
                        menciones en las redes sociales en 9 idiomas, para ser los primeros en descubrir las señales de
                        tendencias emergentes y predecir su trayectoria de crecimiento</li>
                    <li class="li">Encuesta mundial de consumidores - la inteligencia cultural humana, indispensable
                        para descifrar qué necesidades, motivaciones y narrativas de los consumidores subyacen a cada
                        tendencia</li>
                    <li class="li">Marco de tendencias - nuestros expertos en consumo utilizan una lente coherente a
                        escala mundial para dar sentido a todo el ecosistema de tendencias</li>
                </ol>
            </div>




        </main>
        <%-include('partials/footer')%>
</body>

</html>