<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Blog.css">
</head>
<body>
    <%-include('partials/nav')%>

    <main>
        <div class="ContainerT">
        <img  src="/img/PanoramicaB.jpg" alt="Postre gastronomico">
        <h1 class="TextT">Las 3 tendencias más relevantes en pastelería para 2024</h1>
    </div>
       
    <div class="container">
        <div class="item">
            <a href=""> <img src="/img/Mousse.jpg" alt="Mousse de frutas">
                <h1>Las 3 tendencias más relevantes en pastelería para 2024.</h1>
            </a>

        </div>
        <div class=" item">
            <a href=""> <img src="/img/Enseñando.jpg" alt="Panadero enseñando">
                <h1>Un día en la vida: Escuela de Panadería Bakery.</h1>
            </a>
        </div>
        <div class="item">
            <a href=""> <img src="/img/Blog3.jpg" alt="Panadero con pan en bandeja">
                <h1>Conectando el arte del pan con la ciencia de la salud intestinal. </h1>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="item">
            <a href=""> <img src="/img/MasaM.jpg" alt="Pan de masa madre">
                <h1>Todo lo que debes saber de la Masa Madre.</h1>
            </a>

        </div>
        <div class=" item">
            <a href=""> <img src="/img/PanBolsa.jpg" alt="Pan en bolsa">
                <h1>Cinco razones por las que no se debe guardar el pan en la nevera.</h1>
            </a>
        </div>
        <div class="item">
            <a href=""> <img src="img/PastelB.jpg" alt="Pastel con chocolate">
                <h1>Explorando el Origen Fascinante de los Primeros Pasteles. </h1>
            </a>
        </div>
    </div>

    </main>

    <%-include('partials/footer')%>
</body>
</html>