<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masa madre</title>
    <link rel="stylesheet" href="/css/blog/BlogI4.css">
</head>
<body>
    <%-include('partials/nav')%>
<main>
    <div class="ContainerT">
        <img  src="/img-blog/BannerB4.jpg" alt="Cortando pan">
        <h1 class="TextT">Todo lo que debes saber de la Masa Madre</h1>
    </div>

    <div class="Img-Text">
        <div class="TextoA">
            <h1 class="H1"> Hoy hablaremos sobre uno de los ingredientes más importantes en la panadería artesanal: la masa madre.</h1>
            <h2>La masa madre es una mezcla de harina y agua que se fermenta naturalmente con las bacterias y levaduras presentes en el ambiente y en los granos de trigo. Es el ingrediente principal en la mayoría de los panes artesanales y es conocida por mejorar el sabor, la textura y la vida útil del pan. A continuación, les hablaremos sobre todo lo que necesitan saber acerca de la masa madre.</h2>
           
        </div>
        <img class="Img" src="/img-blog/BlogI4.jpg" alt="Estudiantes amasando pan">
    </div>

    <div class="TextoB">
        <h1 class="H1">¿Qué es la masa madre?</h1>

        <h2>La masa madre es una mezcla de harina y agua que se deja fermentar naturalmente durante un período de tiempo para permitir que las bacterias y levaduras presentes en ella se desarrollen y crezcan. Durante el proceso de fermentación, la masa madre produce ácido láctico y acético, lo que le da al pan su sabor distintivo.</h2>

    </div>

    <div class="TextoB">
        <h1 class="H1">¿Por qué usar masa madre?</h1>
        <h2>La masa madre es importante en la panadería porque proporciona una serie de beneficios para el pan. Estos incluyen:</h2>
        <ul>
            <li class="li">Mejor sabor: La masa madre le da al pan un sabor más complejo y rico que el pan hecho con levadura comercial. Esto se debe a los ácidos producidos durante la fermentación natural.</li>
            <li class="li">Mejor textura: La masa madre también mejora la textura del pan, dándole una miga más aireada y un exterior más crujiente.</li>
            <li class="li">Vida útil más larga: El ácido producido durante la fermentación natural también ayuda a preservar el pan, lo que significa que dura más tiempo que el pan hecho con levadura comercial.</li>
            <li class="li">Saludable: la masa madre tiene beneficios nutricionales para nuestro cuerpo.</li>
        </ul>
        <h2>La masa madre es un ingrediente clave en la panadería artesanal que proporciona sabor, textura y una vida útil más larga a los panes. Además, tiene beneficios nutricionales para nuestra salud. La fermentación natural de la masa madre produce ácido láctico y acético, lo que ayuda a descomponer los carbohidratos y proteínas de la harina, haciéndolos más fácilmente digeribles y disponibles para nuestro cuerpo. También es rica en vitaminas B y minerales como el hierro, zinc y magnesio.</h2>
        <h2>En contraste, los panes comerciales hechos con levadura comercial pueden contener aditivos y conservantes que no son beneficiosos para nuestra salud. Además, la levadura comercial puede causar problemas digestivos en algunas personas sensibles a ella.</h2>
       <h2>Por lo tanto, elegir panes hechos con masa madre es una excelente opción para aquellos que buscan una opción más saludable y nutritiva. Hacer masa madre en casa es fácil y una forma gratificante de experimentar con diferentes tipos de panes y recetas. ¡Así que, anímate a hacer tu propia masa madre y disfruta de un pan más sabroso y saludable!</h2>
    </div>

</main>
    <%-include('partials/footer')%>
    
</body>
</html>