<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog arte del pan</title>
    <link rel="stylesheet" href="/css/BlogIndividual.css">
</head>
<body>
    <%-include('partials/nav')%>
    <main>
        <div class="ContainerT">
            <img  src="/img-blog/BannerB2.jpg" alt="Postre gastronomico">
            <h1 class="TextT">Conectando el arte del pan con la ciencia de la salud intestinal.</h1>
        </div>

        <div class="TextoB">
            <h2>El tema de la salud intestinal está adquiriendo una mejor comprensión rápidamente y, en consecuencia, está ganando terreno en la industria de la panadería. ¿Qué puede esperar de la próxima generación de panes Happy Gut? Puratos está invirtiendo en la investigación de la salud intestinal y trabajando con proyectos tanto a corto como a largo plazo para llevar al mercado ingredientes de alta calidad amigables con los intestinos. Manténgase informado sobre la investigación y las posibilidades futuras de la gama de pan Happy Gut.</h2>
           
            <h2>Empiece el día con un desayuno adecuado y al instante sentirá el impacto en su cuerpo. Influimos en nuestra salud con lo que comemos, especialmente si influye favorablemente en el intestino. Pero medir y aprender a optimizar esa "intuición" es un desafío tremendo. Para comprender mejor el efecto del pan en nuestra salud intestinal, Puratos y sus universidades asociadas han invertido en tecnologías innovadoras. Nos reunimos con el profesor Marco Gobbetti, un microbiólogo de renombre mundial, para discutir los últimos conocimientos sobre el pan y la salud intestinal.</h2>
        </div>

        <div class="Img-Text">
            <div class="TextoA">
                <h1 class="H1">Investigando un "presentimiento"</h1>
                <h2>El equipo de trabajo de Gobbetti trabaja en todo el mundo. Colaboran con Bakery y otros científicos para examinar el impacto de la fermentación en los panes de hoy en día. Como afirma Gobbetti: en nuestros laboratorios, en el Noi Tech Park en Bolzano, "tenemos la capacidad de fermentar todo". El objetivo de este trabajo ya está cambiando y cada vez más se centra en el impacto positivo de la fermentación de la masa madre y las enzimas en la salud intestinal.</h2>
                <h2>El profesor Marco Gobbetti está trabajando con un nuevo simulador que modela el tracto intestinal humano, llamado SHIME. Como explica Gobbetti, “Este equipo puede reproducir casi las mismas condiciones que nuestro tracto intestinal humano… con la ventaja de que todas las condiciones son monitoreadas. Con él, puede estudiar los efectos de determinados hábitos dietéticos, nutrientes o alimentos, en condiciones estandarizadas".</h2>
                <h2>Esta investigación detallada sobre el papel y la diversidad del microbioma humano está cambiando radicalmente la forma en que pensamos sobre las bacterias y la fermentación del pan. “Actualmente estamos utilizando este equipo para confirmar la mejor digestibilidad del pan de masa madre en comparación con el pan de levadura de panadería y el pan con levadura química. Esperamos ver si la masa madre puede tener un efecto sobre la diversidad y la funcionalidad del microbioma intestinal de los seres humanos".</h2>
                <h2>Investigaciones posteriores han demostrado que la masa madre y las fermentaciones enzimáticas tienen una influencia directa sobre el tipo y la cantidad de compuestos prebióticos del pan (como las fibras) contenidos en el intestino. Estos compuestos ayudan al microbioma intestinal a mantener un equilibrio saludable, afectan positivamente la respuesta inmune e inhiben el crecimiento de bacterias patógenas.</h2>
            </div>
            <img class="Img" src="/img-blog/BlogI2.png" alt="Conversacion de personas en mesa dulce">
        </div>

        <div class="Img-Text">
            <img class="ImgB" src="/img-blog/BlogI2b.jpg" alt="Conversacion de personas en mesa dulce">
            <div class="TextoA">
                <h1 class="H1">¿La investigación de Bakery conducirá a nuevas soluciones happy gut?</h1>
                <h2>Bakery está trabajando en proyectos que traerán al mercado ingredientes de alta calidad amigables con el intestino. Aquí también son importantes la salud, el sabor y la textura. Bakery está trabajando en innovaciones basadas en enzimas y masa madre para llevar más fibras dietéticas a su pan para un enfoque Happy Gut.</h2>
                <h2>Con más de 150 años de experiencia en productos de panadería, Bakery nunca deja de explorar, pensar y descubrir nuevas formas de aprovechar al máximo los ingredientes que tanto aman a los consumidores. Se trata de ayudar a nuestros clientes a hacer crecer su negocio al hacer que un intestino saludable y equilibrado sea accesible para los consumidores a través de los panes Happy Gut más sabrosos.</h2>
            </div>
            
        </div>
    </main>
    <%-include('partials/footer')%>
</body>
</html>