<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog un dia en la escuela</title>
    <link rel="stylesheet" href="/css/BlogIndividual.css">
</head>
<body>
    <%-include('partials/nav')%>
    <main>
        <div class="ContainerT"></div>
            <img  src="/img-blog/BannerB3.jpg" alt="Amazando pan">
            <h1 class="TextT">Un día en la: Escuela de Panadería Bakery.</h1>
        </div>
        <div class="TextoB">
            <h1 class="H1">Las Escuelas de Panadería Bakery hacen realidad los sueños</h1>

            <h2>En la Bakery Schools de Argentina y Brasil, jóvenes de 16 y 17 años aprenden las competencias profesionales necesarias para trabajar en los sectores de la panadería, la pastelería y la chocolatería. El programa está diseñado para brindar a los jóvenes menos afortunados la instrucción práctica necesaria para ganarse la vida dignamente. ¿Qué significa ser alumno de la Escuela de Panadería? ¿Qué aprende un estudiante y cuáles son las implicaciones? James Paredes, de 18 años, nos da algunas ideas.</h2>

        </div>

        <div class="Img-Text">
            <div class="TextoA">
                <h1 class="H1">Escuelas de Panadería Bakery: por mano de obra calificada y una vida mejor</h1>
                <h2>A medida que los gustos de los consumidores en los países en desarrollo se occidentalizan cada vez más, crece la demanda de productos terminados como pasteles, pastelería y chocolate. Es una gran oportunidad para panaderos, pastelerías, hoteles y supermercados. Pero la escasez de mano de obra calificada dificulta satisfacer la creciente demanda. Como hay muy pocas escuelas que ofrezcan formación profesional, la mayoría de los jóvenes tienen que aprender en el trabajo. Por eso a Bakery se le ocurrió la idea de crear Escuelas de Panadería, donde a jóvenes de 16 y 17 años se les enseñan las competencias profesionales necesarias para trabajar en el sector de la panadería, pastelería y chocolatería. La estudiante Argentine Alexa Messi nos cuenta cómo llegó a ser estudiante y qué implica la formación.</h2>
               
            </div>
            <img class="Img" src="/img-blog/BlogI3.jpg" alt="Conversacion de personas en mesa dulce">
        </div>
        <div class="Img-Text"></div>
            <img class="ImgB" src="/img-blog/BlogI3estudiante.jpg" alt="Estudiante mostrando galletas">
            <div class="TextoA">
                <h1 class="H1">Entrenamiento práctico para James.</h2>
                <h2>James Paredes tiene 18 años y vive con sus padres y su hermano en Buenos Aires, Argentina. La escuela de panadería Bakery de esta ciudad abrió sus puertas en 2014. La escuela está ubicada en las instalaciones del Estudio Gastronomico & Jr. College, donde estudió James. “Siempre quise unirme a Bakery porque quiero convertirme en un experto en repostería. Entonces, cuando se abrieron las admisiones, presenté mi solicitud de inmediato. Me convertí en estudiante en agosto de 2015 y lo disfruté mucho. Me gustaron los laboratorios, las aulas y los profesores. Mi clase favorita fue el proceso de elaboración de chocolates. "</h2>
                <h2>Los cursos de Bakery School están diseñados para llevar a los alumnos más allá de la educación básica y brindarles la formación práctica necesaria para ganarse la vida dignamente. El programa también incluye prácticas en varias empresas durante las cuales se remunera a los estudiantes. Puratos también se compromete a emplear a alumnos que se gradúen en escuelas de Argentina, Brasil o otros lugares, o a colocarlos con un socio.</h2>
            </div>
            
        </div>

        <div class="Img-Text"></div>
            <div class="TextoA">
                <h1 class="H1">¿Qué aprenden los estudiantes de Bakery School?</h1>
                <h2>El programa se extiende a lo largo de dos años y totaliza aproximadamente 1600 horas y 36 temas. Las lecciones siguen una curva de aprendizaje: los estudiantes primero aprenden todo sobre el equipo y los ingredientes antes de recibir lecciones más técnicas y prácticas. El plan de estudios ofrece técnicas como atemperado de chocolate, conceptos de tecnología de congelados y horneado de masa madre. Pero los estudiantes también aprenden sobre higiene y seguridad alimentaria, buenas prácticas de fabricación, calidad y almacenamiento de los alimentos. También se les enseña inglés, comunicación digital, gestión de personas y ventas, presentación de producto terminado y tendencias mundiales a través de la plataforma Taste Tomorrow. También visitan supermercados, panaderías e industrias para conocer la realidad del mercado.</h2>
                <h2>Alex: “Fui a Bakery School seis días a la semana, tres horas al día. ¡Aprendí mucho! Aprendí los conceptos básicos de panes, galletas, pasteles y chocolates. Aprendí y practiqué la técnica de hacer todos estos desde cero usando recetas y premezclas. Además de lo básico, practiqué haciendo panes y repostería internacionales. Ahora sé hacer postres helados, rellenos, glaseados y aderezos, aprendí todo sobre higiene y planificación de la cocina y sé cómo presentar los productos terminados de una manera atractiva”./h2>
            </div>
            <img class="Img" src="/img-blog/BlogI3est2.jpg" alt="Conversacion de personas en mesa dulce">
        </div>
        <div class="TextoB">
            <h1 class="H1">Soñando con un futuro en la repostería</h1>
            <h2>“Tenía muchas ganas de unirme al programa Bakery. Sueño con ser chef en un hotel de cinco estrellas, para poder aprender, ganar más y mantener a mi familia. Y más tarde quiero abrir mi propia panadería. Todo lo que aprendí en Bakery School contribuye a estos objetivos. No sólo todas las técnicas de repostería, sino también las lecciones de habilidades de comunicación, formación de equipos y gestión del tiempo”.</h2>

        </div>
    </main>
    <%-include('partials/footer')%>
</body>
</html>