<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog 6</title>
    <link rel="stylesheet" href="/css/blog/BlogI2.css">
</head>
<body>
    <%-include('partials/nav')%>
    <main>
        <div class="ContainerT">
            <img  src="/img-blog/BannerB6.jpeg" alt="Postre de hojaldre">
            <h1 class="TextT">Explorando los fascinantes origenes de los primeros pasteles</h1>
        </div>

        <div class="TextoB">
            <h2>Los pasteles son deliciosas creaciones culinarias que han estado presentes en diversas culturas a lo largo de la historia. Su origen se remonta a civilizaciones antiguas, donde la combinación de ingredientes básicos y la creatividad humana dieron lugar a estas deliciosas creaciones. En este post, exploraremos el fascinante origen de los primeros pasteles y cómo han evolucionado a lo largo de los siglos.</h2>
        </div>

        <div class="Img-Text">
            <div class="TextoA">
                <h1 class="H1">Los Comienzos: Egipto y Mesopotamia</h1>
                <h2>Los orígenes de los pasteles se rastrearon hasta el antiguo Egipto y Mesopotamia, donde los panes dulces se cocinaron utilizando miel, frutas y nueces. Estos paneles eran una especie de antepasado de los pasteles modernos y se mejorarán un manjar reservado para ocasiones especiales y festividades. La miel, siendo un edulcorante natural ampliamente disponible en esas regiones, desempeñó un papel fundamental en la creación de estos primeros pasteles.</h2>
                <h1 class="H1">Grecia y Roma: Desarrollo de Técnicas de Horneado</h1>
                <h2>En la antigua Grecia y Roma, la cocina comenzó a desarrollarse aún más. Se introdujeron técnicas de horneado más avanzadas, lo que ayudó a la creación de pasteles más complejos. Los griegos horneaban pasteles de queso y miel, mientras que los romanos añadían ingredientes como frutas secas y especias. Estos pasteles evolucionaron de simples panes endulzados a deliciosas obras de arte culinario.</h2>
                <h1 class="H1">Edad Media: Incorporación de Ingredientes Exóticos</h1>
                <h2>Durante la Edad Media, los pasteles continuaron evolucionando a medida que se incorporaron ingredientes exóticos a través de las rutas comerciales. Especias como la canela, el jengibre y la nuez moscada se volvieron populares en la repostería, agregando sabores y aromas distintivos a los pasteles. La influencia de la cocina árabe también contribuyó a la creación de pasteles más sofisticados, como el baklava.</h2>
            </div>
            <img class="Img" src="/img-blog/BlogI6.jpg" alt="Cleopatra,Juana de Arco y Julio cesar comiendo postres">
</div>

<div class="Img-Text">
    <img class="ImgB" src="/img-blog/BlogI6b.jpg" alt="Da vinci,Einstein y Bill Gates comiendo postres">
    <div class="TextoA">
        <h1 class="H1">Renacimiento y Más Allá: Innovaciones en la Repostería</h1>
        <h2>Con el Renacimiento llegaron más innovaciones en la repostería. La expansión de los viajes y el comercio permitió que ingredientes como el chocolate y el azúcar refinado se incorporaran a la creación de pasteles. Los pasteles se mejoraron en un símbolo de estatus y creatividad, adornados con intrincados diseños y decoraciones elaboradas.</h2>

        <h1 class="H1">Siglos XIX y XX: Industrialización y Diversificación</h1>
        <h2>Con la Revolución Industrial, la producción de pasteles se industrializó y se volvió más accesibles para las masas. La invención de electrodomésticos como los hornos eléctricos y las batidoras facilitó la preparación de pasteles en los hogares. Además, surgieron diversas variedades de pasteles, desde los clásicos pasteles de frutas hasta los pasteles de crema y los pasteles de chocolate.</h2>

        <h1 class="H1">Hoy en Día: Celebración de la Tradición y la Creatividad</h1>
        <h2>Hoy en día, los pasteles siguen siendo una parte fundamental de la gastronomía mundial. Las técnicas y los ingredientes se han modernizado, permitiendo una amplia gama de pasteles innovadores y creativos. Desde los pasteles de bodas decorados con exquisitez hasta los pasteles veganos y sin gluten que atienden a diversas preferencias dietéticas, la tradición de los pasteles continúa adaptándose a los diferentes gustos.</h2>
    </div>
    
</div>
    </main>
    <%-include('partials/footer')%>
</body>
</html>