<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Historia.css">
</head>

<body>
    <%-include('partials/nav')%>

        <main>
            <div class="TyC">
            <div class="Titulo">
                <h1>Más De 150 Años</h1>
                <h1>Leudando Una Gran Marca</h1>
            </div>
            <div class="ImgC">
            <img class="Cesta" src="/img/Historia.png" alt="Ilustracion de una cesta de pan"></div></div>
            <div class="TextoCompletoA"> 
            <h2>Mantener la calidad en cada producto,</h2>
            <h2>para seguir <h3 class="TextColor">creciendo como empresa</h3>
            </h2>
            <p>Nuestra mayor convicción es buscar siempre el mejor producto para lograr la satisfacción de nuestros
                clientes.Por eso mantenemos distintos estándares de calidad,para los diferentes productos de nuestra
                panadería.</p></div>

            <div class="Historia">
                <img src="/img/Local.png" alt="Local">
                <div class="Texto">
                    <h1>Una receta familiar, <span class="resaltado">creciendo como empresa</span>. 
                    </h1>
                    <p>Somos una empresa que comenzo a leudarse a fines del Siglo XX frente a la iglesia De San Antonio
                        de Padua.Convirtiéndonos en una de las panaderías más importantes de Buenos Aires,de la mano de
                        un inmigrante Español.Logramos cocinar una gran marca familiar,encargada de llevar el pan a la
                        mesa de todas las familias de la ciudad.</p>
                    <p>Mientras más cosas ricas hacíamos,más gente quería distribuir nuestro productos.Obteniendo como
                        resultado más de 40 franquiciados a fines de 2018.Actualmente contamos con una gran fábrica
                        panificadora,para abastecer a cada franquicia con los más rico de nuestras panaderías.</p>
                    <p>Somos Bakery una empresa que leudo durante más de 150 años para hacer pan y cosas ricas</p>
                </div>
                <div class="MyV">
                    <div class="Mision">
                        <h1>Misión</h1>
                        <p>Determinar,anticipar y satisfacer las necesidades de alimentación de la comunidad,elaborando
                            y comercializando productos panificados,de repostería,nutrituvos y de calidad.Manteniendo la
                            tradición del sabor a través de procesos eficientes y amigables con el
                            medioambiente,apoyando el valor y desarrollo de las personas que la componen.Continuando con
                            la búsqueda de distinción en el mercado y agregando valor a la comunidad</p>
                    </div>
                    <div class="Vision">
                        <h1>Visión</h1>
                        <p>Ser una empresa familiar líder y en continuo crecimiento.Con presencia local y expansión
                            nacional.Distinhuida por proporcionar calidad en la elaboración de sus productos y en el
                            servicio de atención requerido por nuestros clientes.Manteniendo una rentabilidad sostenida
                            a sus accionistas,con oportunidades de desarrollo profesional y personal a sus empleados.Y
                            contribuyendo positivamente a la sociedad actuando con compromiso empresario</p>
                    </div>
                </div>
            </div>

        </main>
        <%-include('partials/footer')%>

</body>

</html>