<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
</head>
<body>
    <h2>Login</h2>
    <form>
        <label>Ingrese el correo electronico</label>
        <input type="email" placeholder="ingrese email" required name="email">
        <label>Ingrese contraseña</label>
        <input type="password" placeholder="ingrese contraseña" required name="password">
        <button>Ingresar</button>
    </form>
    <p>¿No tenes una cuenta? <a href="/registro">Registrate</a></p>
</body>
</html>