<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta de Macarons</title>
    <link rel="stylesheet" href="/css/sub-pag/RecetaVelvet.css">
</head>

<body>
    <%-include('partials/nav')%>
        <main>
            <div class="ContenedorPadre">
                
                <div class="MoverImg">
                    <img class="Red" src="/img-recetas/MacaronsR1.jpg" alt="Macarons">
                </div>

                <div class="TextoCompleto">
                    
                    <div class="Texto">
                        <h1>Macarons</h1>
                    <hr class="Hr">
                        <h2>Ingredientes</h2>
                        <ul>
                            <li>65 gramos de claras de huevo (pesadas con 24 horas de antelación)</li>
                            <li>70 gramos de harina común</li>
                            <li>100 gramos de azúcar glas</li>
                            <li>55 gramos de azúcar normal</li>
                            <li>Colorante alimentario en gel (opcional)</li>
                        </ul>
                        <hr class="Hr">
                    </div>
                    <div class="Texto">
                        <h2>Instrucciones:</h2>
                        <ol>
                            <li>Asegúrate de que las claras de huevo estén a temperatura ambiente. Batirlas hasta que estén espumosas.
                            </li>
                            <li>Gradualmente, añade el azúcar normal mientras sigues batiendo hasta obtener picos firmes.</li>
                            <li>Tamiza el azúcar glas y la harina común juntos. Incorpora esta mezcla a las claras batidas con movimientos envolventes.</li>
                            <li>Si deseas, añade colorante alimentario en gel y mezcla suavemente hasta que el color sea uniforme.
                            </li>
                            <li>Coloca la mezcla en una manga pastelera con una boquilla redonda. Forma pequeños círculos sobre una bandeja para hornear forrada con papel pergamino.
                            </li>
                            <li>Deja reposar los macarons a temperatura ambiente durante unos 30-60 minutos, hasta que se forme una costra en la superficie.</li>
                            <li>Precalienta el horno a 150°C (300°F). Hornear los macarons durante 15-18 minutos.</li>
                            <li>Deja enfriar completamente antes de despegarlos del papel. Rellenalos con tu crema o mermelada favorita.</li>
                        </ol>
                    </div>
                </div>
            </div>
            
                <h1 class="TextVideo">Siguenos paso a paso</h1>
                <div class="A">
                    <iframe width="1000" height="500" src="https://www.youtube.com/embed/ojVFo8MearI?si=ru3rt8je-PUdtU5F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </main>
        <%-include('partials/footer')%>
</body>

</html>