<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta de Brownie</title>
    <link rel="stylesheet" href="/css/sub-pag/RecetaVelvet.css">
</head>

<body>
    <%-include('partials/nav')%>
        <main>
            <div class="ContenedorPadre">
                
                <div class="MoverImg">
                    <img class="Red" src="/img-recetas/BrownieR.jpg" alt="Brownie">
                </div>

                <div class="TextoCompleto">
                    
                    <div class="Texto">
                        <h1>Brownies</h1>
                    <hr class="Hr">
                        <h2>Ingredientes</h2>
                        <ul>
                            <li>200 g de chocolate negro</li>
                            <li>150 g de mantequilla</li>
                            <li>200 g de azúcar</li>
                            <li>3 huevos</li>
                            <li>100 g de harina</li>
                            <li>1 cucharadita de esencia de vainilla</li>
                            <li>1 pizca de sal</li>
                        </ul>
                        <hr class="Hr">
                    </div>
                    <div class="Texto">
                        <h2>Instrucciones:</h2>
                        <ol>
                            <li>Precalentar el horno a 180°C (350°F) y engrasar un molde cuadrado de aproximadamente 20x20 cm.Precalentar el horno a 180°C (350°F) y engrasar un molde cuadrado de aproximadamente 20x20 cm.

                            </li>
                            <li>Derretir el chocolate y la mantequilla juntos en un recipiente resistente al calor, ya sea en el microondas o al baño maría. Remover hasta obtener una mezcla homogénea.</li>
                            <li>Añadir el azúcar a la mezcla de chocolate y mantequilla, y mezclar bien.
                            </li>
                            <li>Incorporar los huevos uno a uno, batiendo bien después de cada adición. Agregar la esencia de vainilla.</li>
                            <li>Tamizar la harina y la sal sobre la mezcla y remover suavemente hasta que todos los ingredientes estén bien integrados.
                            </li>
                            <li>Verter la mezcla en el molde preparado y hornear durante 25-30 minutos, o hasta que un palillo insertado en el centro salga con migas húmedas.</li>
                            <li>Dejar enfriar los brownies en el molde antes de cortarlos en porciones.</li>
                        </ol>
                    </div>
                </div>
            </div>
            
                <h1 class="TextVideo">Siguenos paso a paso</h1>
                <div class="A">
                    <iframe width="1000" height="500" src="https://www.youtube.com/embed/xlB8o0HsYcQ?si=8SsDZQBqb78vYPzE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </main>
        <%-include('partials/footer')%>
</body>

</html>