<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Recetas.css">
    <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=Ultra&display=swap"
    rel="stylesheet" />
</head>
<body>
    <%-include('partials/nav')%>
   <main>
    <h1 class="Titulo">Recetas</h1>
    <div class="container">
        <div class="item">
            <img src="/img/Croisant1.jpg" alt="">
            <h2>Alfajores de dulce de leche y maní veganos</h2>
        </div>
        <div class=" item">
            <img src="/img/RedVelvet1.jpg" alt="">
            <h2>Alfajores integrales de dulce de leche</h2>
        </div>
        <div class="item">
            <img src="/img/Tiramisu.jpg" alt="">
            <h2>Bagels turcos de sésamo y miel</h2>
        </div>
     </div>
   <div class="Centro">
   <button class="Btn"><a href="http://">Ver más recetas</a></button></div>
   </main>
   <%-include('partials/footer')%>
</body>
</html>