<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta de Croisant</title>
    <link rel="stylesheet" href="/css/sub-pag/RecetaVelvet.css">
</head>

<body>
    <%-include('partials/nav')%>
        <main>
            <div class="ContenedorPadre">
                
                <div class="MoverImg">
                    <img class="Red" src="/img-recetas/CroisantR.jpg" alt="Croisant">
                </div>

                <div class="TextoCompleto">
                    
                    <div class="Texto">
                        <h1>Croisants</h1>
                    <hr class="Hr">
                        <h2>Ingredientes</h2>
                        <ul>
                            <li>500 g de harina de fuerza</li>
                            <li>10 g de sal</li>
                            <li>10 g de sal</li>
                            <li>15 g de levadura fresca (o 7 g de levadura seca)</li>
                            <li>150 ml de leche</li>
                            <li>150 ml de agua</li>
                            <li>250 g de mantequilla fría</li>
                            <li>1 huevo (para pintar)</li>
                        </ul>
                        <hr class="Hr">
                    </div>
                    <div class="Texto">
                        <h2>Instrucciones:</h2>
                        <ol>
                            <li>Preparar la masa: En un bol grande, mezcla la harina, la sal y el azúcar. Disuelve la levadura en la leche tibia y añade el agua. Vierte esta mezcla en el bol con los ingredientes secos y amasa hasta obtener una masa suave y elástica. Deja reposar la masa en un lugar cálido durante 1 hora o hasta que doble su tamaño.

                            </li>
                            <li>Estira la masa en un rectángulo y coloca la mantequilla fría en el centro. Dobla la masa en tres partes, como si fuera una carta. Gira la masa 90 grados y estirala nuevamente en un rectángulo. Repite este proceso de doblado y estirado tres veces, refrigerando la masa durante 20 minutos entre cada pliegue.</li>
                            <li>Estira la masa en un rectángulo grande y corta triángulos de aproximadamente 20 cm de base. Enrolla cada triángulo desde la base hasta la punta para formar los croissants. Colócalos en una bandeja de horno forrada con papel pergamino.</li>
                            <li>Deja que los croissants fermenten en un lugar cálido durante 1 hora o hasta que hayan doblado su tamaño.</li>
                            <li>Precalienta el horno a 200°C. Pinta los croissants con huevo batido y hornearlos durante 15-20 minutos o hasta que estén dorados.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            
                <h1 class="TextVideo">Siguenos paso a paso</h1>
                <div class="A">
                    <iframe width="1000" height="500" src="https://www.youtube.com/embed/dXfwkhp5WvU?si=XvbMOEZ737FJhStD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </main>
        <%-include('partials/footer')%>
</body>

</html>