<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta de Alfajores</title>
    <link rel="stylesheet" href="/css/sub-pag/RecetaVelvet.css">
</head>

<body>
    <%-include('partials/nav')%>
        <main>
            <div class="ContenedorPadre">
                
                <div class="MoverImg">
                    <img class="Red" src="/img-recetas/VelvetR.jpg" alt="Torta red velvet">
                </div>

                <div class="TextoCompleto">
                    
                    <div class="Texto">
                        <h1>Torta Red Velvet</h1>
                    <hr class="Hr">
                        <h2>Ingredientes</h2>
                        <ul>
                            <li>240 g de harina de trigo</li>
                            <li>300 g de azúcar</li>
                            <li>2 cucharadas de cacao en polvo</li>
                            <li>1 cucharadita de bicarbonato de sodio</li>
                            <li>1 cucharadita de sal</li>
                            <li>2 huevos grandes</li>
                            <li>240 ml de aceite vegetal</li>
                            <li>240 ml de buttermilk (suero de leche)</li>
                            <li>2 cucharaditas de extracto de vainilla</li>
                            <li>1 cucharadita de vinagre blanco</li>
                            <li>2 cucharaditas de colorante rojo</li>
                        </ul>
                        <h2>Para el glaseado de queso crema:</h2>
                        <ul>
                            <li>250 g de queso crema</li>
                            <li>100 g de mantequilla (a temperatura ambiente)</li>
                            <li>400 g de azúcar glas</li>
                            <li>1 cucharadita de extracto de vainilla</li>
                        </ul>
                        <hr class="Hr">
                    </div>
                    <div class="Texto">
                        <h2>Instrucciones:</h2>
                        <ol>
                            <li>Precalentar el horno a 175°C (350°F). Engrasar y enharinar dos moldes redondos de 23 cm.
                            </li>
                            <li>Mezclar los ingredientes secos: En un bol grande, tamizar la harina, el cacao, el
                                bicarbonato y la sal.</li>
                            <li>Preparar la mezcla húmeda: En otro bol, batir el azúcar y el aceite hasta que estén bien
                                combinados. Añadir los huevos uno a uno, batiendo bien después de cada adición.
                                Incorporar el buttermilk, la vainilla, el vinagre y el colorante rojo.</li>
                            <li>Combinar las mezclas: Añadir gradualmente los ingredientes secos a la mezcla húmeda,
                                batir hasta que estén bien integrados.</li>
                            <li>Hornear: Dividir la masa entre los moldes preparados y hornear durante 30-35 minutos, o
                                hasta que un palillo insertado en el centro salga limpio. Dejar enfriar en los moldes
                                durante 10 minutos, luego desmoldar y dejar enfriar completamente sobre una rejilla.
                            </li>
                            <li>Preparar el glaseado: Batir el queso crema y la mantequilla hasta que estén suaves.
                                Añadir el azúcar glas y la vainilla, y batir hasta obtener una mezcla homogénea.</li>
                            <li>Montar el pastel: Colocar una capa de bizcocho en un plato, cubrir con una capa de
                                glaseado, colocar la segunda capa de bizcocho y cubrir todo el pastel con el glaseado
                                restante.</li>

                        </ol>
                    </div>
                </div>
            </div>
            
                <h1 class="TextVideo">Siguenos paso a paso</h1>
                <div class="A">
                <iframe width="1000" height="500" src="https://www.youtube.com/embed/kaxzIXS51lc?si=zDrGS65zpGhnZqNr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </main>
        <%-include('partials/footer')%>
</body>

</html>