<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
    <link rel="stylesheet" href="/css/Recetas.css">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=Ultra&display=swap"
        rel="stylesheet" />
</head>

<body>
    <%-include('partials/nav')%>
        <main>
            <h1 class="Titulo">Recetas</h1>
            <div class="container">
                <div class="item">
                    <a href="http://localhost:4500/RecetaVelvet"> <img src="/img-recetas/VelvetR.jpg" alt="Torta red velvet">
                        <h1>Prepara un delicioso pastel Red Velvet casero con esta receta fácil y rápida.</h1>
                    </a>

                </div>
                <div class=" item">
                    <a href="http://localhost:4500/RecetaPan"> <img src="/img-recetas/PanR.jpg" alt="Pan casero">
                        <h1>Disfruta de un pan casero delicioso y fácil de hacer.</h1>
                    </a>
                </div>
                <div class="item">
                    <a href="http://localhost:4500/RecetaCroisant"> <img src="/img-recetas/CroisantR.jpg" alt="Croisant">
                        <h1>Aprende a hacer croissants caseros con esta receta fácil y rápida. </h1>
                    </a>
                </div>
            </div>
            <div class="container">
                <div class="item">
                    <a href="http://localhost:4500/RecetaBrownie"> <img src="/img-recetas/BrownieR.jpg" alt="Brownie">
                        <h1>Deléitate con estos brownies caseros.</h1>
                    </a>
                </div>
                <div class=" item">
                    <a href="http://localhost:4500/RecetaTiramisu"> <img src="/img-recetas/TiramisuR.jpg" alt="Tiramisu">
                        <h1> Fácil de preparar y aún más fácil de disfrutar, un deleite este tiramisu.</h1>
                    </a>
                </div>
                <div class="item">
                    <a href="http://localhost:4500/RecetaMacarons"> <img src="/img-recetas/MacaronsR1.jpg" alt="Macarons">
                        <h1>Estos bocados franceses son perfectos para cualquier ocasión. </h1>
                    </a>
                </div>
            </div>

            
            <div class="Centro">
               <!-- <button class="Btn"><a href="http://">Ver más recetas</a></button>-->
            </div>
        </main>
        <%-include('partials/footer')%>
</body>

</html>