<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
   
</head>
<body>
    <h3>Formulario de registro</h3>
        <form>
            <label>Ingrese el nombre de usuario</label>
            <input type="text" placeholder="ingrese nombre-usuario" required name="nombreusuario">
        <label>Ingrese el correo electronico</label>
        <input type="email" placeholder="ingrese email" required name="email">
        <label>Ingrese contraseña</label>
        <input type="password" placeholder="ingrese contraseña" required name="password">
        <button>Registrate</button>
    </form>
    <p>¿Ya tenes una cuenta?<a href="/login"> Ingresa</a></p>
</body>

</html>