@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=Ultra&display=swap");
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0%;
    margin: 0%;
}

body {
    width: 100%;
}

/*----------------------------------------*/

/*--------------------MAIN Y TITULO-------------------*/

main {
    background-color: #f5d3ab;
    padding-top: 5%;
    padding-bottom: 5%;
}

.Titulo{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Img{
    padding-top: 1%;
    width: 5%;
}

.Titulo h1{
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 90px;
}

.Titulo h2{
    font-family: "DM Sans", system-ui;
    font-size: 30px;
    font-style: normal;
    font-weight: initial;
}

/*----------------------------------------*/

/*--------------------REDES-------------------*/

.Redes{
    padding-top: 6%;
    padding-bottom: 6%;
}

.Column{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.Icon{
    text-align: center;
}

.Icon svg{
    margin-bottom: 15%;
}

.Redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Redes h1{
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 30px;
}

.Redes p{
    font-family: "Oswald", sans-serif;
}

/*----------------------------------------*/

/*--------------------TITULO Y FORM-------------------*/

.Titulo2{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Titulo2 h1{
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 40px;
}

.Titulo2 img{
    padding-top: 1%;
    width: 3%;
}

.Formulario{
    display: flex;
    justify-content: center;
}

.Form2 label{
     margin: auto;
     font-family: "DM Sans", system-ui;
        font-size: 25px;
        font-style: normal;
        font-weight: initial;
}

.FormColumn{
    display: flex;
    flex-direction: column;
}
.FormColumn label{
    font-family: "DM Sans", system-ui;
    font-size: 25px;
    font-style: normal;
    font-weight: initial;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*.Formulario label{
        font-family: "DM Sans", system-ui;
        font-size: 25px;
        font-style: normal;
        font-weight: initial;
        margin-top: 2%;
        margin-bottom: 2%;
}
*/
.Formulario input{
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.Formulario textarea{
    border-radius: 5px;
}