@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=Ultra&display=swap");
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css);

* {
    padding: 0%;
    margin: 0%;
}

body {
    width: 100%;
}



/*--------------------HERO--------------------*/
.Hero {
    background-color: rgb(23, 27, 27);
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    align-items: center;
}

.Hero img {
    width: 45%;
}

.TextHero {
    display: flex;
    flex-direction: column;
    color: white;
}

.TextHero p {
    font-family: "Oswald", sans-serif;
    padding-bottom: 30px;
    font-size: 20px;
}

.TextHero h1 {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 70px;
}

.TextHero h2 {
    font-family: "DM Sans", system-ui;
    font-size: 30px;
    font-style: normal;
    font-weight: initial;
    padding-top: 20px;

}

.BtnHero {
    width: 25%;
    font-family: "Oswald", sans-serif;
    font-weight: 100px;
    font-size: 15px;
    background-color: #f5d3ab;
    margin-top: 40px;
    color: black;
    border-radius: 5px;
    padding: 2%;
}

/*----------------------------------------*/

/*--------------------ABOUT--------------------*/
.About {
    background-color: #f5d3ab;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
}

.About img {
    width: 30%;
}

.TextAbout {
    display: flex;
    flex-direction: column;
}

.TextAbout p {
    font-family: "Oswald", sans-serif;
    padding-bottom: 30px;
    font-size: 20px;
}

.TextAbout h1 {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 40px;
}

.TextAbout h2 {
    font-family: "DM Sans", system-ui;
    font-size: 30px;
    font-style: normal;
    padding-top: 20px;
    color: #585357;
}

.BtnAbout {
    width: 20%;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    margin-top: 40px;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 2%;
}

/*----------------------------------------*/

/*--------------------FEAUTERS--------------------*/
.Feauters {
    text-align: center;
    background-color: #f5d3ab;
    padding-top: 5%;
}

.Feauters p {
    font-family: "Oswald", sans-serif;
    padding-bottom: 30px;
    font-size: 15px;
    font-weight: 500;
}

.Feauters h1 {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 40px;
    padding-bottom: 4%;
}


.Container{
    background-color: white;
   
}

.Fresco img {

    width: 30%;

}

.Natural img {
    width: 30%;
}

.Tasty img {
    width: 30%;
}
.BGcon{
    background-color: white;
    padding-bottom: 3%;
    padding-top: 3%;
}
.BgF2{
    background-color: white;
    padding-bottom: 3%;
    padding-top: 3%;
}
/*----------------------------------------*/

/*--------------------VIDEO--------------------*/
.Video {
    text-align: center;
    background-color: #f5d3ab;
    padding-top: 5%;
}

.Video p {
    font-family: "Oswald", sans-serif;
    padding-bottom: 30px;
    font-size: 25px;
}

.Video h1 {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 40px;
    padding-bottom: 4%;
}

/*----------------------------------------*/
/*--------------------CATALOGO--------------------*/
.Catalogo {
    background-color: #f5d3ab;
    padding-bottom: 5%;
    padding-top: 5%;
}

.A {
    display: flex;
    align-items: center;
}

.TextBaked {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 26%;

}



.BtnBaked {
    position: relative;
    right: -40%;
    width: 7%;
    height: 50px;
    border-color: black;
    border-width: 2px;
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    margin-top: 51px;
    border-radius: 5px;
    background-color: #f5d3ab;
}


.TextBaked p {
    font-family: "Oswald", sans-serif;
    padding-bottom: 30px;
    font-size: 15px;
    direction: initial;
}

.TextBaked h1 {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 40px;
    padding-bottom: 4%;
}

.Card1 {
    display: flex;
    align-items: center;
}

.Item img {
    width: 37%;
}

.Item {
    position: relative;
    display: inline-block;
    text-align: center;
}

.TextCard1 {
    position: absolute;
    top: 65%;
    left: 44%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.TextCard1 p {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    direction: initial;
}

.TextCard1 h2 {
    font-family: "DM Sans", system-ui;
    font-size: 30px;
    font-style: normal;
    position: relative;

}

.h3Card1 {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    top: 69%;
    left: 62%;
    transform: translate(-50%, -50%);
    color: white;
}

.CardA {
    position: relative;
    right: 14px;
}

.CardB {
    position: relative;
    right: 26%;
}

.Cards {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}


.cardC {
    margin-left: 25px;
    margin-right: 25px;
}

.card-title {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 30px;

}

.Pcatalogo {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    direction: initial;
}

.card-text {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    right: 3%;
    bottom: 14%;
}

/*----------------------------------------*/

/*--------------------FEAUTERS2--------------------*/


.Feauters2 {
    background-color: #171b1b;
    padding-top: 5%;
    padding-bottom: 5%;
}

.TextF2 {
    text-align: center;
}

.TextF2 p {
    font-family: "Oswald", sans-serif;
    padding-bottom: 30px;
    font-size: 20px;
    color: white;
    padding-top: 5%;
}

.TextF2 h1 {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 40px;
    padding-bottom: 4%;
    color: white;
}

.Pf2 {
    font-family: "Oswald", sans-serif;
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
}

.h1Container {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

.container h2 {
    font-family: "DM Sans", system-ui;
    font-size: 30px;
    font-style: normal;
    text-align: center;
}

.BgF2 {
    background-color: white;
}

/*----------------------------------------*/

/*--------------------FEAUTERS3--------------------*/
.TextFeauters3 {

    padding-top: 5%;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    position: relative;
    right: 14%;
}

.TextFeauters3 p {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    direction: initial;
}

.TextFeauters3 h1 {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 45px;
}

.Feauters3 {
    background-color: #171b1b;
    padding-bottom: 5%;
}
.BtnF3{
    width: 26%;
    position: relative;
    left: 171%;
    bottom: 41%;
    padding: 2%;
    background-color: #171b1b;
    color: white;
    border-color: white;
    border-width: 1px;
}

.B {
    display: flex;
   justify-content: center;
}

.TextBaked {
    position: relative;
    left: 26%;
}

.BgF3 {
    background-color: #171b1b;
}

.AAA {
    position: relative;
    left: 21%;
    display: flex;
}

.BBB {
    position: relative;
    left: 20%;
    display: flex;
    align-content: center;
    align-items: center;
}

.CCC img {
    width: 100%;
}

.CARDa {
    position: relative;
    left: 19%;
    display: flex;
    align-content: center;
}

.CARDa p {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    direction: initial;
    background-color: #f5d3ab;
    width: 15%;
    position: relative;
    left: 78%;
    top: 3%;
}

.CARDa h3 {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    direction: initial;
    padding-top: 7%;
}

.CARDa h2 {
    font-family: "DM Sans", system-ui;
    font-size: 30px;
    font-style: normal;
    text-align: center;
}

.CARDa h1 {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 30px;
}

.BtnCard {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    direction: initial;
    position: relative;
    left: 82%;
    width: 14%;
    border-style: none;
}

.BtnCardB {
    border-style: none;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    direction: initial;
    position: relative;
    left: 73%;
}

.Feauters3 {
    display: flex;

}



.h3Fa {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    direction: initial;
}

.pFa {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    direction: initial;
    background-color: #f5d3ab;
    width: 38%;
    position: relative;
    left: 51%;
    top: 3%;
}

.TitulFa {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 25px;
    padding-top: 6%;
}

/*---------------------------------------*/

/*--------------------BAKERS--------------------*/

.Panaderos {
    background-color: #f5d3ab;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
}

.TextPanaderos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 12%;
}

.Panaderos p {
    font-family: "Oswald", sans-serif;
    padding-bottom: 30px;
    font-size: 20px;
    color: black;
    padding-top: 5%;
}

.Panaderos h1 {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 40px;
    padding-bottom: 4%;
}

.Panaderos h2 {
    font-family: "DM Sans", system-ui;
    font-weight: initial;
    color: #585357;
}

.Panadero img {
    width: 60%;
    position: relative;
    left: 37%;
}

.BtnPanaderos {
    background-color: #171b1b;
    color: white;
    width: 25%;
    padding: 2%;
    margin-top: 3%;
}

/*----------------------------------------*/


/*--------------------CONTACTO--------------------*/
.Contacto2 {
    background-color: #f5d3ab;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 3%;
}

.Img {
    width: 40%;
}

.TextContacto p {
    font-family: "Oswald", sans-serif;
    padding-bottom: 30px;
    font-size: 20px;
    color: black;
    padding-top: 5%;
}

.TextContacto h1 {
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 40px;
    padding-bottom: 4%;
}

.TextContacto h2 {
    font-family: "DM Sans", system-ui;
    font-weight: initial;
    color: #585357;

}

.Icons {
    display: flex;

}

.Icons img {
    width: 3%;
    height: 3%;
    position: relative;
    top: 57px;
    border-radius: 17px;
}

.IconsA {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.IconsB {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.IconsA h2 {
    font-size: 20px;
}

.IconsB h2 {
    font-size: 20px;
}

.ButtonContacto {
    background-color: #171b1b;
    color: white;
    width: 44%;
    padding: 2%;
    margin-top: 3%;
    border-radius: 5px;
}


/*----------------------------------------*/

/*--------------------FOOTER--------------------*/

.Footer {
    background-color: #171B1B;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}

.Footer h1 {
    width: 8%;
    color: white;
    font-family: "Ultra", serif;
    font-weight: lighter;
    font-style: normal;
}

.Lista1 {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;

}

.Lista2 {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
}

.Lista1 a {
    text-decoration: none;
    color: white;
    padding-bottom: 50%;
}

.Lista2 a {
    text-decoration: none;
    color: white;
    padding-bottom: 50%;
}

.DireccionF {
    color: white;
    display: flex;
    flex-direction: column;
}

.DireccionF p {
    font-family: "Oswald", sans-serif;
    padding-bottom: 30px;
    font-size: 20px;


}

.DireccionF h2 {
    font-family: "DM Sans", system-ui;
    font-weight: initial;

}


.IconosFooter img {
    border-radius: 50%;
    /* width: 13%;*/
    padding: 9%;
}

.hr {
    background-color: #171B1B;
    margin: 0%;
}

.Final {
    background-color: #171B1B;
    display: flex;
    justify-content: space-around;
    color: gray;
    padding-top: 2%;
    padding-bottom: 2%;
}

/*----------------------------------------*/